<!DOCTYPE html>
<html lang="en">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<head>
    <meta charset="UTF-8">
    <title>imaginator</title>
    <link rel="stylesheet" href="/css/home.css">

  <script>
    function poner(images) {
      var lista = document.getElementById("images");
      while (lista.hasChildNodes()) {

        lista.removeChild(lista.childNodes[0]);
      }
      for(i=images.length-1;i>=0;i--){
        var div = document.createElement("div");
        div.id = "child";
        var divshare = document.createElement("div");
        divshare.id = "share";
        divshare.setAttribute( "class","media-left");
        var title = document.createElement("h2");
        var data = document.createElement("h4");
        var share = document.createElement("button");
        var openimage = document.createElement("button");
        share.id = images[i]._id;
          share.textContent = "Share";
        openimage.id = images[i]._id;
        openimage.textContent = "Open in New tab";
        share.addEventListener("click", function ir() {
          var user = prompt("Enter the user name: ", "UserName");
          $.ajax({
            url: 'Image/share?username='+user,
            type: 'PUT',
            dataType: 'json',
            data: {image_id:this.id},
            success: function (data, textStatus, xhr) {
              if (data=="0"){
                alert("The Username is incorrect or doesn't exist");
              }else {
                alert("The image was shared");
              }
            },
            error: function (xhr, textStatus, errorThrown) {
              console.log('Error in Operation');
            }
          });
        }, false);

        openimage.addEventListener("click", function () {
          //console.log(this.id);
          url = "<%=baseurl%>Image/see?image_id=" + this.id;
          //window.location.href = url;
          window.open(url);
        }, false);

        divshare.appendChild(share);
        divshare.appendChild(openimage);
        title.textContent = images[i].title;
        data.textContent = "format: "+images[i].format+" date: "+images[i].capture_date;
        div.appendChild(title);
        div.appendChild(data);
        div.appendChild(divshare);
        document.getElementById("images").appendChild(div);
      }
    }
  </script>
  <script>

    $(document).ready(function(){

        console.log("email: "+sessionStorage.email+"user: "+sessionStorage.user+"id: "+sessionStorage.id);
        var email,user,id;
        email = sessionStorage.email;
        user = sessionStorage.user;
        id = sessionStorage.id;
      $.post("User/",{email:email, user: user,id:id}, function(data) {

          if(data){
              //alert("welcome");
          }
      });

        $.post("Image/public_images",function (images) {
            poner(images);
        });
      $("#logout").click(function(){
        $.post("User/logout").then(window.location.href = "<%=baseurl%>");
      });
      $("#load_image").click(function () {
        window.location.href = "<%=baseurl%>createform";
      });
      $("#update_image").click(function () {
        window.location.href = "<%=baseurl%>my_images";
      });
      $("#profile").click(function () {
        window.location.href = "<%=baseurl%>profile";
      });
      $("#search").click(function () {
        text = $("#search_text").val();
        $.post("Image/search",{search:text},function (images) {
          poner(images);
        });
      });
      $("#shared_with").click(function () {
        window.location.href = "<%=baseurl%>shared_with_me";
      });
    });
  </script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%=baseurl%>home">Imaginator</a>
    </div>
    <div class="input-group left" id="adv-search">
      <input type="text" class="form-control" id="search_text" placeholder="Search for snippets" />
      <div class="input-group-btn">
        <div class="btn-group" role="group">
          <div class="dropdown dropdown-lg">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
            <div class="dropdown-menu dropdown-menu-right" role="menu">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label for="filter">Filter by</label>
                  <select class="form-control">
                    <option value="0" selected>All Snippets</option>
                    <option value="1">Featured</option>
                    <option value="2">Most popular</option>
                    <option value="3">Top rated</option>
                    <option value="4">Most commented</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="contain">Author</label>
                  <input class="form-control" type="text" />
                </div>
                <div class="form-group">
                  <label for="contain">Contains the words</label>
                  <input class="form-control" type="text" />
                </div>
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </form>
            </div>
          </div>
          <button type="button" id="search" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Images<span class="caret"></span></a>
            <ul class="dropdown-menu" style="background-color: #757575">
              <li>
                <input type="button"  class="btn btn-link" id="update_image" value="Update Images">
              </li>
              <li>
                <input type="button"  class="btn btn-link" id="load_image" value="Load Image">
              </li>
              <li>
                <input type="button"  class="btn btn-link" id="shared_with" value="shared with me">
              </li>
            </ul>
          </li>
          <li>
            <a role="button" id="profile">
              Profile
            </a>
          </li>
          <li>
            <button type="button" id="logout" class="btn btn-primary">Log Out</button>
          </li>

        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row" id="images">

  </div>
</div>
</body>
</html>
